<div class="viewport-container">
	<div class="viewport">

        <% if (cards.length > 0) { %>
            <% for (var i=0; i<cards.length; i++) { %>
                <div class="card card-<%= cards[i].cssClass || 'yellow' %>" 
                     id="<%= cards[i]._id %>" 
                     style=" top: <%= cards[i].position.y %>px; left: <%= cards[i].position.x %>px; position: absolute; z-index: <%= cards[i].zIndex %> ">
                <a name="<%= cards[i]._id %>"></a>
                <textarea style="width: <%= (cards[i].size.width-10) %>px; height: <%= (cards[i].size.height-10) %>px;"><%- cards[i].content %></textarea>
                </div>
            <% } %>
        <% } %>
	</div>
</div>