<div class="viewport-container">
    <div class="viewport">

        <% if (cards.length > 0) { %>
            <% for (var i=0; i<cards.length; i++) { %>
                <div class="card card-<%= cards[i].cssClass || 'yellow' %>" 
                     id="<%= cards[i]._id %>" 
                     style=" top: <%= cards[i].position.y %>px; left: <%= cards[i].position.x %>px; position: absolute; z-index: <%= cards[i].zIndex %>; width: <%= cards[i].size.width %>px; height: <%= cards[i].size.height %>px;">
                <a name="<%= cards[i]._id %>"></a>
                <% if ((cards[i].content || "").length > 0) { %>
                <p><%- cards[i].content.split(/\r\n|\r|\n/).join('</p><p>') %></p>
                <% } %>
                </div>
            <% } %>
        <% } %>
    </div>
</div>