<div id="main" class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>Features</h2>
            <ul>
                <li><i class="icon-pushpin"></i> Realtime collaboration</li>
                <li><i class="icon-pushpin"></i> Safe and secure</li>                
                <li><i class="icon-pushpin"></i> Board access controls</li>
                <li><i class="icon-pushpin"></i> Free to use</li>
                <li><i class="icon-pushpin"></i> Open source, run your own instance</li>
            </ul>
            <p><a class="btn" href="http://go.pinitto.me/features">Find out more &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Statistics</h2>
            <p>Some real time stats about what is going on with the system:</p>
            <ul>
                <li>Number of boards: <span class="totals-boards"><%=totals.boards %></span></li>
                <li>Number of cards: <span class="totals-cards"><%=totals.cards %></span></li>
                <li>Active socket connections: <span class="totals-sockets"><%=totals.sockets %></span></li>
            </ul>
            <p><a class="btn disabled" href="#">Realtime statistics &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Donate</h2>
            <p><%= name %> is currently a free service. If you like our application please donate to help keep the service online and ad-free.</p>
            <p><a class="btn" href="http://go.pinitto.me/donate">Donate &raquo;</a></p>
            <% if (typeof(app.github) !== 'undefined') { %>  
            <h2>Contribute</h2>
            <p><%= name %> is an Open Source project. The application source code is freely available on GitHub.</p>
            <p><a class="btn" href="https://github.com/<%=app.github %>" target="_blank">GitHub Repo &raquo;</a></p>                          
            <% } %>
        </div>
    </div>
</div>
