<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Welcome to <%=name %> - <%=pageName %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,800,600,300' rel='stylesheet' type='text/css'/>
        
        <script type="text/javascript">
        var config = <%- JSON.stringify(app) %>
        var errors = {}
        </script>
        <% if (!app.useOptimised) { %>
        <link rel="stylesheet" href="/css/main.css">
        <script data-main="/js/main.js" src="/js/require.js"></script>
        <% } else { %>
        <script src="/main.<%= app.version %>.js"></script>
        <link rel="stylesheet" href="/app.<%= app.version %>.css">
        <% } %>
        <link href="/js/vendor/jquery-twitter-display/tweet/jquery.tweet.css" media="all" rel="stylesheet" type="text/css"/>
        </script>
    </head>
    <body>
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

<div class="masthead">
    <div class="container">
        <div class="carousel-caption">
            <h1>Welcome to <%= name %></h1>
            <p class="lead visible-desktop"><%= name %> is an infinite virtual corkboard. Collaborate with friends, family, or colleagues in real time in any way you want. Make plans, share ideas, play games...</p>
            <a href="/#create"><button class="btn btn-large btn-primary open-tab">Create New Board</button></a>
        </div>
    </div>
</div>

<div id="tabs">
    <ul class="middle-bar tabs">
        <li><a href="#main">Welcome</a></li>
        <li><a href="#create">Create a new board</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="http://go.pinitto.me/manual" class="manual">Manual</a></li>
    </ul>
    <% include ../index %>
    <% include ../login %>
    <% include ../create %>
</div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h5>About pinitto.me</h5>
                        <p>pinitto.me is an infinite virtual corkboard.  Collaborate with friends, family, or colleagues in real time 
                        in any way you want. Make plans, share ideas, play games...</p>
                        <p>This is a free service (please donate to help cover costs) and the code will be open sourced very soon. Please feel 
                        free to make suggestions for improvements and let us know about any of those nasty bugs.</p>
                        <p><a class="btn" href="http://go.pinitto.me/about">About &raquo;</a></p>
                    </div>
                    
                    <hr class="visible-phone">
                    
                    <% if (typeof(app.twitter) !== 'undefined') { %>
                    <div class="span4">
                        <h5>Twitter</h5>
                        <div class="tweet"></div>
                        <p><a class="btn" href="https://twitter.com/<%=app.twitter %>" target="_blank">Follow &raquo;</a></p>
                    </div>
                    <% } %>
                    
                    <hr class="visible-phone">
                    
                    <div class="span4">
                        <h5>Misc</h5>
                        <p>Contact us on one of the following services:</p>
                        <ul>
                            <li><i class="icon-facebook"></i> <a href="http://facebook.com/pinittome" target="_blank">Friend us</a></li>
                            <li><i class="icon-twitter"></i> <a href="https://twitter.com/pinittome" target="_blank">Follow us</a></li>
                            <li><i class="icon-github"></i> <a href="https://github.com/pinittome" target="_blank">Fork us</a></li>
                            <li><i class="icon-cloud"></i> <a href="http://go.pinitto.me">Website / Blog</a></li>
                            <li><i class="icon-rss"></i> <a href="http://go.pinitto.me/atom.xml">RSS Feed</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <p class="pull-right"><a href="#">Back to top</a></p>
                            <p>&copy; Created by &middot; <a href="https://twitter.com/<%=app.twitter %>" target="_blank">@pinittome</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>
